{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "cmsplugin_image/css/style.css" %}"/>
<script type="text/javascript">
    var fetch_file_url = "{% url cmsplugin_image.views.get_file %}";
</script>
<script type="text/javascript" src="{% static "cmsplugin_image/js/filer_field.js" %}"></script>
<tr>
    <td class="error_{{ field.name }} invalid_filer_type" colspan="2"></td>
</tr>
<tr>
    <td><label for="var_{{ field.name }}">{{ field.name }}</label></td>
    <td><input id="var_{{ field.name }}" type="text" data-filetype='{{file_type}}' name="_{{ field.name }}_" value="{{ field.value }}" size="100" class="filer_field{% if optional_field %} optional{% endif %}" />
        <a href="{% url admin:filer_folder_changelist %}" class="filer-related-lookup" id="lookup_id_image" title="Lookup" onclick="return SnippetFilerWigets.openPopup(this, '{{ field.name }}', '{{file_type}}');">
            <img src="{% static "admin/img/selector-search.gif" %}" width="16" height="16" alt="Lookup">
        </a>
        <div class="help">
            Enter {{file_type}} url, browse the Filer and select one of the available {{file_type}}s{% if optional_field %} or just leave it blank{% endif %}.
        </div>
    </td>
</tr>
